# EDA reddit news

* here we have data stored from reddit: r/worldnews
* period of 2008-06-08 -- 2016-07-01
* data is in English

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('RedditNews.csv')

In [3]:
data

             Date                                               News
0      2016-07-01  A 117-year-old woman in Mexico City finally re...
1      2016-07-01   IMF chief backs Athens as permanent Olympic host
2      2016-07-01  The president of France says if Brexit won, so...
3      2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4      2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...
...           ...                                                ...
73603  2008-06-08  b'Man goes berzerk in Akihabara and stabs ever...
73604  2008-06-08  b'Threat of world AIDS pandemic among heterose...
73605  2008-06-08  b'Angst in Ankara: Turkey Steers into a Danger...
73606  2008-06-08  b"UK: Identity cards 'could be used to spy on ...
73607  2008-06-08  b'Marriage, they said, was reduced to the stat...

[73608 rows x 2 columns]

# Manual check

In [8]:
def comp(x):
    if 'allianz' in x:
        y = 'Allianz'
    elif 'basf' in x:
        y = 'BASF'
    elif 'bmv' in x :
        y = 'BMW'
    elif 'delivery hero' in x:
        y = 'DELIVERY HERO'
    elif 'deutschebank' in x or 'deutsche bank' in x:
        y = 'DEUTSCHEBANK'
    elif 'deutsche telekom' in x or 'deutschetelekom' in x:
        y = 'Deutsche Telekom'
    elif 'hellofresh' in x or 'hfg' in x:
        y = 'HELLOFRESH'
    elif 'henkel' in x :
        y = 'HENKEL'
    elif 'hugo' in x :
        y = 'HUGO BOSS'
    elif 'lufthansa' in x :
        y = 'LUFTHANSA'
    elif ' sap ' in x:
        y = 'SAP'
    elif 'siemens' in x :
        y = 'SIEMENS'
    elif 'unilever' in x :
        y = 'UNILEVER'
    elif 'volkswagen' in x or 'vow3' in x:
        y = 'VOLKSWAGEN'
    elif 'zalando' in x :
        y = 'ZAL'
    else:
        y = "None"
    return y

In [9]:
data2 = data
data2['News'] = data.News.apply(lambda x: str(x).lower())
data2['COMP'] = data2.News.apply(lambda x: comp(str(x)))

In [10]:
data2

             Date                                               News  COMP
0      2016-07-01  a 117-year-old woman in mexico city finally re...  None
1      2016-07-01   imf chief backs athens as permanent olympic host  None
2      2016-07-01  the president of france says if brexit won, so...  None
3      2016-07-01  british man who must give police 24 hours' not...  None
4      2016-07-01  100+ nobel laureates urge greenpeace to stop o...  None
...           ...                                                ...   ...
73603  2008-06-08  b'man goes berzerk in akihabara and stabs ever...  None
73604  2008-06-08  b'threat of world aids pandemic among heterose...  None
73605  2008-06-08  b'angst in ankara: turkey steers into a danger...  None
73606  2008-06-08  b"uk: identity cards 'could be used to spy on ...  None
73607  2008-06-08  b'marriage, they said, was reduced to the stat...  None

[73608 rows x 3 columns]

In [11]:
data2['COMP'].value_counts()

None                73438
HUGO BOSS              91
VOLKSWAGEN             32
DEUTSCHEBANK           19
SIEMENS                 9
LUFTHANSA               9
UNILEVER                5
BASF                    2
SAP                     2
Deutsche Telekom        1
Name: COMP, dtype: int64

## Conclusion:

The data is too limited so we should not use it. Telegram data from Deutsche Zeitungen is more preferable